<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Sending Email with Thymeleaf HTML Template Example</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body style="font-weight: 500;color: green">
<h2>Hello <span th:text="${name}"></span></h2>
<p>Just Testing email sending from Spring application</p>
<br />
<h4>Cheers</h4>
</body>
</html>