<html>
    <head></head>
    <body style="background-color: #e6e6e6;">
        <div style="margin:0px; padding:0px; background-color: #FFFFFF">
            <div style="font-size:1px;display:none!important">Wherever, Whenever</div>
            <table bgcolor="#E6E6E6" width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse:collapse;margin:0 auto">
                <tbody><tr valign="top">
                        <td align="center" valign="top">
                            <table bgcolor="#FFFFFF" width="600" align="center" border="0" cellpadding="0" cellspacing="0">
                                <tbody><tr>
                                        <td>
                                            <table width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#7C423F">
                                                <tbody><tr>
                                                        <td width="10"><div style="width:25px;font-size:0px;line-height:0px;display:block">&nbsp;</div></td>
                                                        <td valign="middle"><a href="mytravelbanc.com" target="_blank">
                                                                <img src="http://mytravelbanc.com/resources/img/travelbanc-logo-white.png" alt="Wherever, Whenever" width="200" style="display:block;font-family:Arial,sans-serif;font-size:22px;color:#ffffff" title="Wherever, Whenever" border="0" class="CToWUd"/></a></td>
                                                        <td width="113" align="right" valign="middle">
                                                            <div>
                                                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td height="10" width="" style="height:10px;width:328px;font-size:0px;line-height:0px;border-collapse:collapse"><div style="min-height:10px;width:328px;font-size:0px;line-height:0px;border-collapse:collapse">&nbsp;</div></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td align="right">
                                                                                <table border="0" cellspacing="0" cellpadding="0">
                                                                                    <tbody>
                                                                                        <tr>
                                                                                            <td height="29" align="center" valign="middle" bgcolor="#E27513">
                                                                                                <div>
                                                                                                    <table border="0" cellspacing="0" cellpadding="0">
                                                                                                        <tbody>
                                                                                                            <tr>
                                                                                                                <td>
                                                                                                                    <table border="0" cellspacing="0" cellpadding="0">
                                                                                                                        <tbody>
                                                                                                                            <tr></tr>
                                                                                                                        </tbody>
                                                                                                                    </table>
                                                                                                                </td>
                                                                                                            </tr>
                                                                                                        </tbody>
                                                                                                    </table>
                                                                                                </div>
                                                                                            </td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td height="10" width="" style="height:10px;width:328px;font-size:0px;line-height:0px;border-collapse:collapse"><div style="min-height:10px;width:328px;font-size:0px;line-height:0px;border-collapse:collapse">&nbsp;</div></td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </td>
                                                        <td align="right" width="30"><div style="width:30px;font-size:0px;line-height:0px;display:block">&nbsp;</div></td>
                                                    </tr>
                                                </tbody>
                                            </table>

                                            <table width="100%" bgcolor="#000000" cellpadding="0" cellspacing="0" border="0">
                                                <tbody>
                                                    <tr>
                                                        <td width="253" height="5" bgcolor="#fbb81f" style="width:253px;height:5px;line-height:0px;font-size:0px"><div style="width:253px;min-height:5px;line-height:0px;font-size:0px">&nbsp;</div></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <br />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td height="20"></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                <tbody>
                                                    <tr>
                                                        <td width="25"></td>
                                                        <td align="left" valign="top" style="color:#000000;font-family:Arial,sans-serif;font-size: 14px;line-height:22px"><span style="font-size: 20px;"> Hello </span><span th:text="${username}"></span>, <br />
                                                            <br /><b>Your password reset request was successful. </b> Below is your new password. You are advised to change it once you login successfully.<br />
                                                            <span style="font-weight: bold;color: #8d8d8d;" th:text="${newPassword}"></span>
                                                            <br />
                                                            Ignore this email if you didn't reset the password of your account on mytravelbanc.com&nbsp;
                                                            <br />
                                                            <br />
                                                            The Travelbanc Team
                                                            <br />
                                                            <br />
                                                        </td>
                                                        <td width="25"></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#FFFFFF">
                                                <tbody>
                                                    <tr>
                                                        <td height="10" width="0"></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#FFFFFF">
                                                <tbody>
                                                    <tr>
                                                        <td height="10" width="0" bgcolor="#E6E6E6">&nbsp;</td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </body>
</html>